.banner{
    width: auto;
    height: 120vh;
    background-color: #264653;
}
.black-white{
    filter: grayscale(100%);

}
hr{
    width: 60px;
    margin: auto;
    color: red;
}
p{
    font-size: 14px;
}
.copyright{
    font-size: 12px;
}